/* @keyframes h1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Roboto+Flex:opsz,wght@8..144,200&family=Shalimar&family=Square+Peg&display=swap');

body {
  background: #f0f0f0;
  padding: 0;
  margin: 10px;
  outline: none;
  height: 100vh;
  width: 100%;
}
 header {
display: flex;
justify-content: space-around;
align-items: center;
height: 100px;
border: none;
border-radius: 25px;
background: #f0f0f0;
box-shadow:  6px 6px 13px #c3c2c2,
-6px -6px 13px #ffffff;
 }

button {
  color: #6a677e;
  height: 40px;
  width: 110px;
  -webkit-appearance: none;
  border-radius: 20px;
  border: none;
  background: #f0f0f0;
  box-shadow:  5px 5px 7px #929292,
               -5px -5px 7px #ffffff;
}

button:hover {
  border-radius: 20px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  5px 5px 7px #929292,
               -5px -5px 7px #ffffff;
}

button:active {
  border-radius: 20px;
background: #e0e0e0;
box-shadow: inset 5px 5px 7px #929292,
            inset -5px -5px 7px #ffffff;
}

.fullPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(152, 136, 243);
  text-align: center;
  font-family: 'Square Peg', cursive;
  font-size: 90px;
  margin-bottom: 0;
 
}

h2 {
  color: #6a677e;
  text-align: center;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 0;
 
}

h3 {
  color: #6a677e;
  text-align: center;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 3px;
 
}